$ cat .gitignore

.com.apple.timemachine.supported
.DS_Store

.settings
.actionScriptProperties
.flexProperties
.flexLibProperties
.FlexUnitSettings
.project
.as3proj
.as3_classpath

src/.settings
src/.actionScriptProperties
src/.flexProperties
src/.flexLibProperties
src/.FlexUnitSettings
src/.project
src/.as3proj
src/.as3_classpath

src/libs/assets/*.swf
src/fla/*.swf

deploy/media/swfs/*

*.yaml
*.tmproj
*.as3proj
obj/*
